.bg-container {
  position: relative;
  min-height: 100vh;
}

.body-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  margin-left: 25px;
  gap: 25px;
}
.screen-layout {
  display: flex;
  height: auto;
}
