.dashboard-content {
}

.dashboard-cards {
  display: flex;
  /* justify-content: space-between; */
  gap: 150px;
}

.monthly-chart {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}
